# Default ignored files
**/shelf/
**/workspace.xml
# Editor-based HTTP Client requests
**/httpRequests/
# Datasource local storage ignored files
**/dataSources/
**/dataSources.local.xml

#privateCredentials
**/privateCredentials/
Py_Files/DATABASE/privateCredentials/
/privateCredentials/credentials.properties

#virtualEnvironment
**/.venv/

#workspace
**/.idea/

#__pycache__
**/__pycache__/

# Ignore generated C API files
*.h
*.c

# Ignore specific Python library files
greenlet/

# Ignore virtual environments
venv/

=======
*.pyc
Py_Files/DATABASE/privateCredentials/credentials.properties
CCC151-Group--BH-Management-System/Py_Files/DATABASE/privateCredentials/credentials.properties
